<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Answer</title>
  </head>
  <body>

    <h1>Ask Us Anything</h1>

    <h2>You asked us: <%= question %></h2>

    <p>We answered: <%= answer %></p>

  </body>
</html>
