<h1>Stock Price Checker</h1>

<form action="/result">
  <label>
    Stock code:
    <input name="stock_code" placeholder="GOOG" required>
  </label>
  <div>
    <button>Check price</button>
  </div>
</form>
