<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Price Checker</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/css/wallstreet.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
