<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Price Lookup</title>
  </head>
  <body>
    <p>
      <%= symbol.toUpperCase() %>
      traded at
      $<%= price %>
    </p>
  </body>
</html>
