<h2>Asset Helpers</h2>

<%= image_tag 'funny.jpg' %> <!-- Cache busting -->

<%= image_tag 'http://www.fillmurray.com/500/750', :class => 'hotdogs', :alt => 'Bill Murray says you are awesome' %>

<p>There are also asset helpers for <code>video_tag, audio_tag</code></p>
