<h1>New Plant</h1>

<form action="/plants" method="post">
  <label>
    Name:
    <input name="name" placeholder="Milkweed" required>
  </label>

  <label>
    Image:
    <input name="image" type="url" placeholder="http://...">
  </label>

  <button>Create plant</button>
</form>
