<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>Title</h1>
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://www.fillmurray.com/400/600" alt="Bill Murray's beautiful head">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi pariatur eligendi ea, sint esse, repellat voluptates rerum earum ipsa fugiat ratione nemo distinctio iusto voluptate fugit. Molestias aperiam ipsa laborum.</p>
      <p>Aperiam nam quod quaerat, eos, tempora qui nemo labore delectus ex recusandae. Nulla, tempora, incidunt! Possimus cumque ratione, dolores inventore atque labore, distinctio nisi dolor quibusdam provident esse, illo delectus.</p>
      <p>Explicabo harum, laborum atque quisquam eveniet eum iste cum nihil aspernatur! Doloremque perspiciatis quidem quae, beatae totam placeat, laborum quod cum odio adipisci eaque veniam, facere ipsa itaque cumque, vel.</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Gummo</li>
      </ul>
    </aside>

  </div>

</body>
</html>
