<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Calculator</title>
  <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>
  <h1>Crappy Calculator</h1>

  <form action="/result">
    <label>
      First number:
      <input type="number" name="x" placeholder="23" required>
    </label>

    <label>
      Operator:
      <input name="operator" placeholder="+ or - or * or /" required>
    </label>

    <label>
      Second number:
      <input type="number" name="y" placeholder="73" required>
    </label>

    <button>Calculate</button>
  </form>

</body>
</html>
