<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Calculator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>
  <h1>Crappy Calculator</h1>

  <nav>
    <a href="/">Home</a>
    <a href="/faq">FAQ</a>
  </nav>

  <%= yield %>

</body>
</html>
