<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Calculator</title>
  <link rel="stylesheet" href="/css/calculator.css"><!-- NOT DRY -->
</head>
<body>
  <p>
    The result is <%= @result %>
  </p>
</body>
</html>
